body {
    background-image: url(/Alaska-new/img/mtn-background_no-gradient.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    overflow-x: hidden;
}

.header {
    background-color: #0d0d0db8;
    position: fixed;
    width: 100%;
    transition: ease-in-out 0.6s;
    transition-delay: 0.2s;
    transform: translateY(0);
}

.header.hidden {
    transform: translateY(-100%);
} 

.official {
    font-size: 12px;
    font-weight: 550;
    text-transform: uppercase;
    color: white;
    letter-spacing: 0.081rem;
}

.header-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.header-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
}

.header-actions div {
    padding: 2px 20px;
}

.nav-main {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding: 1px;
}

.logo img {
    width: 130px;
    height: 60px;
}


.language select {
    background: transparent;
    color: white;
    padding: 2px 5px;
}

.login a {
    text-decoration: none;
    color: rgba(255, 29, 29, 0.767);
}



.nav-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    padding: 5px;
}



.nav-item {
    margin: 0px auto;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 550;
    color: white;
}

.nav-item a {
    text-decoration: none;
    color: white;
}


.sliders {
    width: 100%;
}

.slideDenali, .slideAurora, .slideGlaciers, .slideWildlife {
    display: none;
    width: 100%;
}

.slideDenali img, .slideAurora img, .slideGlaciers img, .slideWildlife img {
    width: 100%;
    height: 680px;
}


.banner-switcher {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    top: 80%;
    right: 0%;
}

.switcher {
    background-color: #b04d02;
    margin: 0px 5px;
    padding: 10px 20px;
}

.switcher a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
    color: white;
}




.banner-info {
    width: 100%;
    height: 115px;
    display: flex;
    align-items: center;
    background-color: #282828;
}

.banner-title {
    color: white;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 400;
    border-right: 1px solid #b04d02;
    padding: 0px 1.3rem;
}

.banner-description {
    text-decoration: none;
    color: white;
    padding: 0px 1rem;
    display: flex;
}

.banner-description button {
    margin-left: 20px;
    height: min-content;
    align-self: center;
}

#aurora, #glaciers, #wildlife {
    display: none;
}

.container-1 {
    width: 100%;
    background-color: #000000b8;
    padding: 25px;
}


.content-1 {
    background-image: url(/Alaska-new/img/background-content-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 85%;
    height: 400px;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
    background-color: #000000ec;
}

.left-1 h2, .right-1 h2 {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: lighter;
    margin-top: 0px;
} 

.left-1, .right-1 {
    width: 50%;
    margin: 30px;
    text-align: center;
}

.left-1 img {
    float: left;
}

.right-1 img {
    padding: 20px;
}

.left-1 {
    border-right: 1px solid white;
}

.button-href {
    background-color: #8a200f;
    border: none;
    padding: 4px;
}

.button-href a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}



.content-2-background {
    background-color: antiquewhite;
    display: flex;
    width: 85%;
    height: 600px;
    margin: 25px auto;
    justify-content: space-around;
}

.content-2 {
    margin: 25px;
    width: 65%;
    border-right: 1px solid black;
}

.content-2 h3, .right-3 h3 {
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #0067ac;
    text-transform: uppercase;
    font-weight: 350;
    font-size: 25px;
}

.content-2-box {
    display: flex;
}

.left-2, .right-2 {
    padding: 0px 20px;
    width: 50%;
    text-transform: uppercase;
}

.left-2 h4 a, .right-2 h4 a{
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(212, 8, 8);
}

.left-2 p a, .right-2 p a {
    text-decoration: none;
    color: rgb(129, 28, 28);
    font-weight: 600;
}

.left-2 p, .right-2 p {
    font-size: 12px;
}

.footer-2 h5 {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.08rem;
}


.footer-2 ul li {
    display: inline-block;
    margin: 0px 5%;
    font-size: 13px;
    font-weight: 700;
}

.footer-2 ul li a {
    text-decoration: none;
    color: #861b0a;
}

.right-3 {
    width: 35%;
    margin: 25px;
}






.content-map {
    background-color: rgba(255, 255, 255, 0.205);
    width: 100%;
    height: 550px;
}

.content-map h2 {
    width: 100%;
    padding-top: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #0067ac;
    text-decoration: underline;
}

.map-box{
    display: flex;
    flex-direction: row;
    padding: 0px 40px;
}

.map-description, .map {
    width: 50%;
    padding: 50px;
}

.map-description a {
    text-decoration: none;
    color: #ad230d;
}

.map-description h3 {
    text-transform: uppercase;
    color: #0067ac;
    font-weight: 400;
    text-align: center;
}





.governor {
    background-color: rgba(255, 255, 255, 0.205);
    width: 100%;
    height: 550px;
}

.governor-desription {
    background-color:  rgba(255, 255, 255, 0.747);
    padding: 50px;
}

.governor h2 {
    width: 100%;
    padding-top: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #0067ac;
    text-decoration: underline;
}

.governor-box {
    display: flex;
    flex-direction: row;
    padding: 0px 40px;
}

.governor-box div {
    width: 50%;
}

.governor img {
    width: fit-content;
    height: fit-content;
}






.footer {
    width: 100%;
    background-color:#ffffffea;
}

.footer button {
    padding: 4px;
    text-align: center;
    background-color: #ad230d;
    text-transform: uppercase;
    margin: 0px auto;
}

.footer p {
    text-align: center;
    padding-top: 15px;
}

.footer p a {
    text-decoration: none;
    color: white;
}


.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about, .form, .links {
    padding: 0px 15px;
}

.about h5, .form-box h5, .links h5 {
    text-align: center;
    text-transform: uppercase;
} 

.about ul {
    list-style: none;
}

.about li {
    padding: 7px 0px;
}

.about li a {
    text-decoration: none;
    color: #8a200f;
}







.form-box {
    width: 40%;
}

.form-box form {
    background-color: #616161;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    column-gap: 3px;
    border-radius: 10px;
    height: 340px;
    background-image: url(/Alaska-new/img/moose.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    }


.first-name, .last-name, .e-mail, .select, .check-box {
    grid-column: 1/2;
    padding: 0px 20px;
}

.check-box label, .form-box p {
    color: #ebebc2;
}

.check-box label a, .select label {
    color: #a4f7fc;
    text-decoration: none;
}

.submit-form {
    grid-column: 1/2;
    margin: 5px auto;
}

.clear-form {
    grid-column: 2/3;
    margin: 5px auto;
}

.submit-form button, .clear-form button {
    color: white;
    border: none;
    text-transform: capitalize;
    width: 70px;
}

.social-links ul {
    text-align: center;
    padding: 0px 1px;
}


.social-links li {
    list-style: none;
    display: inline-block;
    margin: 0px 5px;
}

.social-links img {
    width: 24px;
    height: 24px;
}

.apps div {
    display: inline-block;
    margin: 0px auto;
}

.apps img {
    width: 100px;
    height: 35px;
}

.footer-bottom ul {
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 15px;
}

.footer-bottom li {
    display: inline;
    list-style: none;
    margin: 0px 30px;
    text-transform: uppercase;
}

.footer-bottom li a {
    color: #8a200f;
    text-decoration: none;
}


.nav-item {
position: relative;
width: 100%;
padding: 10px 2px;
justify-content: space-around;
background: transparent;
text-align: center;
}

.sub-nav-list {
    position: absolute;
    top: 100%;
    right: 0%;
    left: 0%;
    width: 100%;
    padding-top: 3px;
    display: none;
}

.sub-nav-list a {
    padding: 5px 0px;
    background-color: #b04d02be;
    color: white;
}

.nav-item:hover .sub-nav-list {
    display: flex;
    flex-direction: column;
}

.nav-item:hover {
    background-color:  #8a200f;
}

.sub-nav-list a:hover {
    background-color: #8a200f;
}







#butt {
    background-color: red;
    width: 50px;
    box-sizing: border-box;
}

#test {
    display: none;
}

#test {
    background-color: red;
}